include CHANGELOG.md
include LICENSE.txt
include tox.ini
recursive-include tests *.py
recursive-include docs *
prune docs/_build
include .pre-commit-config.yaml
include .readthedocs.yaml
include dev-requirements.txt
